<%= form_for(@pickup) do |f| %>
  <% if @pickup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pickup.errors.count, "error") %> prohibited this pickup from being saved:</h2>

      <ul>
      <% @pickup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day_id %><br>
    <%= f.number_field :day_id %>
  </div>
  <div class="field">
    <%= f.label :donor_title %><br>
    <%= f.text_field :donor_title %>
  </div>
  <div class="field">
    <%= f.label :donor_first_name %><br>
    <%= f.text_field :donor_first_name %>
  </div>
  <div class="field">
    <%= f.label :donor_last_name %><br>
    <%= f.text_field :donor_last_name %>
  </div>
  <div class="field">
    <%= f.label :donor_spouse_name %><br>
    <%= f.text_field :donor_spouse_name %>
  </div>
  <div class="field">
    <%= f.label :donor_address_line1 %><br>
    <%= f.text_field :donor_address_line1 %>
  </div>
  <div class="field">
    <%= f.label :donor_address_line2 %><br>
    <%= f.text_field :donor_address_line2 %>
  </div>
  <div class="field">
    <%= f.label :donor_city %><br>
    <%= f.text_field :donor_city %>
  </div>
  <div class="field">
    <%= f.label :donor_zip %><br>
    <%= f.text_field :donor_zip %>
  </div>
  <div class="field">
    <%= f.label :donor_dwelling_type %><br>
    <%= f.text_field :donor_dwelling_type %>
  </div>
  <div class="field">
    <%= f.label :donor_phone %><br>
    <%= f.text_field :donor_phone %>
  </div>
  <div class="field">
    <%= f.label :donor_email %><br>
    <%= f.text_field :donor_email %>
  </div>
  <div class="field">
    <%= f.label :number_of_items %><br>
    <%= f.number_field :number_of_items %>
  </div>
  <div class="field">
    <%= f.label :item_notes %><br>
    <%= f.text_area :item_notes %>
  </div>
  <div class="field">
    <%= f.label :donor_notes %><br>
    <%= f.text_area :donor_notes %>
  </div>
  <div class="field">
    <%= f.label :rejected %><br>
    <%= f.check_box :rejected %>
  </div>
  <div class="field">
    <%= f.label :rejected_reason %><br>
    <%= f.text_field :rejected_reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
