<% provide(:title, "Update Pickup") %>
<%= render 'layouts/navbar' %>

    <!-- Main Content -->

    <div class="container white-container">
        
        <!-- main row container -->
        <div class="row">
            <div class="col-xs-12">
                
                <%= render 'layouts/flash_messages' %>  <!--Render any flash messages-->
                
                <h2>Update Pickup</h2>
                <% if !is_entry? %>
                <p>Update pickup information, schedule it, or reject it.</p>
                <%else%>
                    <p>Update pickup information.</p>
                <%end%>
            </div>
        </div>
        <div class="row">
            <!-- Donor info -->
            <%= form_for(@pickup) do |f| %>
            <div class="col-xs-12 col-md-6">
                <h4>Donor Information</h4>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                        <div class="form-group">
                            <label>Title<span class="red">*</span></label>
                            <%= f.text_field :donor_title, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="form-group">
                            <label>First Name</label>
                            <%= f.text_field :donor_first_name, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="form-group">
                            <label>Last Name</label>
                            <span class="red">*</span>
                            <%= f.text_field :donor_last_name, class: 'form-control'%>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <span class="red">*</span>
                            <%= f.text_field :donor_phone, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label>Email Address</label>
                            <%= f.text_field :donor_email, class: 'form-control' %>
                        </div>
                    </div>
                </div>

                <h4>Pickup Address <span class="red">*</span></h4>
                <label>Warning: Please do not put city, state or zip in Line 1 or Line 2, as they have their own fields.</label>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Line 1</label>
                            <%= f.text_field :donor_address_line1, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Line 2</label>
                            <%= f.text_field :donor_address_line2, class: 'form-control' %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-md-5">
                        <div class="form-group">
                            <label>City</label>
                            <%= f.text_field :donor_city, class: 'form-control' %>
                        </div>
                    </div>
                    <div class="col-xs-4 col-md-2">
                        <div class="form-group">
                            <label>State</label>
                            <%=f.select(:donor_state, options_for_select(populate_state_options,:selected => @pickup.donor_state),{},:class => "form-control")%>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-5">
                        <div class="form-group">
                            <label>Zip Code</label>
                            <%= f.text_field :donor_zip, class: 'form-control' %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Dwelling Type</label>
                             <%=f.select(:donor_dwelling_type, options_for_select([['Current Residence','Current Residence'], ['Selling/Moving Home','Selling/Moving Home'], ['Storage Facility','Storage Facility']],:selected => @pickup.donor_dwelling_type),{},:class => "form-control")%>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end left column -->
        
            <% @isScheduled = false%>
            <%if (@pickup.day_id != nil)%>
                <%@isScheduled = true%>
            <%end%>
            <!-- Begin right column -->
            <div class="col-xs-12 col-md-6">
                <% if !is_entry? %>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h4>Schedule:</h4>
                        <div class="form-group">
                            <%if (@isScheduled == true)%>
                                <label>This pickup has been<br/>scheduled for</label>
                                <!--http://stackoverflow.com/questions/13965953/rails-has-many-error-undefined-method-for-nilnilclass-->
                                <!--The following line is for testing purposes only. Because of the has_many relationship between days and pickups, even though the day will not be blank here-->
                                <!--we must check and set myDate to empty if it is otherwise the test will fail. An easier method would be to just call get_day_of_week(@pickup.day.date) This-->
                                <!--will work in our case, but due to Rails configuration, it will cause the test to fail.-->
                                <%@myDate = @pickup.day.blank? ? "" : @pickup.day.date%>
                                <br/><%= get_day_of_week(@myDate) %>
                            <%else%>
                                <label>Day: </label>
                                <%=f.select(:day_id, options_for_select(populate_day_options,:selected => @pickup.day_id),{},:class => "form-control")%>
                            <%end%>
                        </div>
                        <div class="form-group">
                            &nbsp;&nbsp;
                        </div>
                        <%if (@isScheduled == false)%>
                           <%= f.submit "Schedule", name: 'schedule', class: "btn btn-block btn-success btn-wide extra-right-margin" %>
                        <%else%>
                           <%= f.submit "Unschedule", name: 'unschedule', class: "btn btn-block btn-danger btn-wide extra-right-margin" %>
                        <%end%>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <h4>Reject Pickup: </h4>
                        <div class="form-group">
                            <label>Reason: </label>
                            <%=f.select(:rejected_reason, options_for_select([["", nil], ['Does not meet standards','Does not meet standards'], ['Drop-down crib', 'Drop-down crib'], ['Out of area','Out of area'],['Other', 'Other']], :selected => @pickup.rejected_reason),{},:class => "form-control")%>
                        </div>
                        <!--Checkbox is checked if donor_email was provided-->
                        <div class="form-group">
                            <%if (@pickup.donor_email.blank?)%>
                             <%= f.check_box :send_email%> &nbsp;&nbsp;&nbsp;Email Donor
                             <%else%>
                             <%= f.check_box :send_email, {:checked => true}%> &nbsp;&nbsp;&nbsp;Email Donor
                             <%end%>
                        </div>
                        <%= f.submit "Reject", name: "reject", class: "btn btn-block btn-danger btn-wide" %>
                        
                    </div>
                    
                </div>
                <%end%>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Enter the number of items and a brief description.</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label>Number of Items <span class="red">*</span></label>
                            <%= f.number_field :number_of_items, :min => '1', :class => 'form_control' %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Item Notes</label>
                            <%= f.text_area(:item_notes, :cols => 150, :rows => 5, :class => 'form-control custom-control') %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <label>Donor Notes</label>
                             <%= f.text_area(:donor_notes, :cols => 150, :rows => 5, :class => 'form-control custom-control') %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Label</label>
                            <%= f.text_field :pickup_label,  :maxlength=> 10, class: 'form-control'%>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label>Label Color</label>
                            <%=f.select(:pickup_label_color, options_for_select(populate_label_colors,:selected => @pickup.pickup_label_color),{},:class => "form-control")%>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="form-group">
                            <div class="col-xs-6">
                                <%= f.submit "Update", name: "update_donor", class: "btn btn-block btn-success btn-wide extra-right-margin" %>
                            </div>
                            <div class="col-xs-6">
                                <%if @pickup.day_id == nil%>
                                    <a href="/pickups">
                                        <btn class="btn btn-block btn-danger btn-md">Cancel</btn>
                                    </a>
                                <%else%>
                                    <%@urlString = "/days/" + @pickup.day_id.to_s + "/edit"%>
                                    <a href= <%=@urlString%>>
                                        <btn class="btn btn-block btn-danger btn-md">Cancel</btn>
                                    </a>
                                <%end%>
                            </div>
                        </div>
                    
                </div>
            </div>
            <!-- end right column -->
            <%end%>
        </div>
        <!-- End main row -->
    </div>