<%= render 'layouts/navbar' %>

    <div class='container white-container'>
        <%if @pickup.rejected_reason == "Does not meet standards"%>
            <%=render 'layouts/rejected_does_not_meet_standards'%>
        <%elsif @pickup.rejected_reason == "Drop-down crib"%>
            <%=render 'layouts/rejected_drop_side_cribs'%>
        <%elsif @pickup.rejected_reason == "Out of area"%>
            <%=render 'layouts/rejected_out_of_area'%>
        <%elsif @pickup.rejected_reason == "Other"%>
            <%=render 'layouts/rejected_other'%>
        <%end%>
        
        <div class="row">
            <div class="col-xs-12">
                <br/><br/><br/>
                <div class="form-group">
                    <btn class="btn btn-success btn-wide extra-right-margin">Send</btn>
                    <btn class="btn btn-danger btn-wide extra-right-margin">Cancel</btn>
                </div>
            </div>
        </div>
            
    </div>
     