<% provide(:title, 'All Users') %>

<!-- Designed by Nicholas Drazenovic & Emily Huizenga -->

   <%= render 'layouts/navbar' %>


    <!-- Begin the main content -->
    <div class='container white-container'>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
            <%= render 'layouts/flash_messages' %>

                <h2>Users</h2>
                <p>Click the 'Add New User' button to create a new account or select a user from the list below to edit or delete it.</p>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <a href="/users/new">
                    <btn class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New User</btn>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <!-- Table of users -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                        <% @users.each do |user| %> 
                        <tr style="cursor:pointer;" onclick="location.href='<%=user_path(user)%>'">
                            <td>
                                <%= user.username %>
                            </td>
                            <td>
                                <%= user.email %>
                            </td>
                        </tr>
                        <% end %>
                </table>
                
                <!-- Stats listing -->
                <hr>
                <br>
                <div class="well question">
                    <h4>Odyssey Stats&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-down"></span></h4><span class="fa fa-bar-chart helpIcon"></span>
                    <div class="answer hidden-default">
                        <h5>Number of days on record:  &nbsp;
                            <%= Day.all.count %></h5>
                        <h5>Number of pickups on record: &nbsp;
                            <%= Pickup.all.count %></h5>
                        <h5>Number of rejected pickups on record: &nbsp;
                            <%= Pickup.where(rejected: true).all.count %></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

<script>

$(document).ready(function() {
    $(".question").on('click', function() {
        if($(this).hasClass("answer")) return;
        var glyph = $(this).find(".glyphicon");
        if (glyph.hasClass("glyphicon-chevron-down"))
            {
                glyph.removeClass('glyphicon-chevron-down')
                glyph.addClass('glyphicon-chevron-up');
            }
        else
            {
                glyph.removeClass('glyphicon-chevron-up');
                glyph.addClass('glyphicon-chevron-down');
            }
        $(this).find('.answer').slideToggle();
    });
    $(".answer").on('click', function(){
        return false;
    });


});

</script>