<% provide(:title, 'Add New User') %>

    <%= render 'layouts/navbar' %>
    <!-- Begin main content -->
  <div class="container" id="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 well extra-spacing">
            <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
      <h2>Add New User</h2>
            <p>All fields are required to add a new user. The username is entered to log in. The email is only used for communication.</p>
            <br>
            <%= form_for (@user), url: {action: "create"}, html: {class: "nifty form"} do |f| %>
              <%= render 'layouts/flash_messages' %>
            
                <div class="form-group">
                    <%= f.label :username, "Username:" %>
                  <%= f.text_field :username, class: 'form-control' %>
                </div>
            
                <div class="form-group">
                  <%= f.label :email, "Email:" %>
                  <%= f.email_field :email, class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= f.label :permission_level, "User Level:" %>
                  <a tabindex="0" class="btn btn-circle glyphicon glyphicon-question-sign" role="button" data-toggle="popover" data-trigger="hover" title="User Level"></a>
                  <%= f.select :permission_level, [['Entry','0'],['Standard','1'],['Admin','2']], {:include_blank => true}, {:class => 'form-control'} %>
                </div>
            
                <div class="form-group">
                    <%= f.label :password, "Password:" %>
                  <%= f.password_field :password, class: 'form-control' %>
                </div>
            
                <div class="form-group">
                    <%= f.label :password_confirmation, "Confirm Password:" %>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <%= f.submit "Create Account", class: "btn btn-success btn-wide" %>
                        <%= link_to "Cancel", users_index_path, class: "btn btn-danger btn-wide" %>
                    </div>
                </div>
            <% end %>
        </div>          
      </div>
    </div>
  </div>

<div id="popover" style="display:none;">
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td class="text-right col-xs-3"><small><strong>Entry User</strong></small></td>
        <td><small>An entry user is the lowest level user. An entry user only has permissions to view and update pickups. An entry level user does not have permissions to reject or schedule a pickup.</small></td>
      </tr>
      <tr>
        <td class="text-right col-xs-3"><small><strong>Standard User</strong></small></td>
        <td><small>A standard user is the basic user. A basic user has the ability to add pickup days, add/edit pickups, as well as the ability to reject or schedule pickups to a day.</small></td>
      </tr>
      <tr>
        <td class="text-right col-xs-3"><small><strong>Admin User</strong></small></td>
        <td><small>An admin user is the highest level user. An admin user has the ability to do all of the things a standard user can do, however, an admin can also add, edit, and delete users. An admin can also change a user's password.</small></td>
      </tr>
    </tbody>
  </table>
</div>

<script>
  $(function () {
    $('[data-toggle="popover"]').popover({
      container: '#container',
      content: $('#popover').html(),
      html: true
    })
  })
</script>
