<% provide(:title, 'Sign up') %>
<body>
    <%= render 'layouts/navbar' %>
    <!-- Begin main content -->
  <div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2 well extra-spacing">
            <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
      <h2>Add New User</h2>
            <p>All fields are required to add a new user. The username is entered to log in. The email is only used for communication.</p>
            <br>
            <%= form_for (@user), url: {action: "create"}, html: {class: "nifty form"} do |f| %>
              <%= render 'layouts/flash_messages' %>
            
                <div class="form-group">
                    <%= f.label :username, "Username:" %>
                  <%= f.text_field :username, class: 'form-control' %>
                </div>
            
                <div class="form-group">
                  <%= f.label :email, "Email:" %>
                  <%= f.email_field :email, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <%= f.label :permission_level, "User Level:" %>
                  <%= f.select :permission_level, [['Entry','0'],['Standard','1'],['Admin','2']], {:include_blank => true}, {:class => 'form-control'} %>
                </div>
            
                <div class="form-group">
                    <%= f.label :password, "Password:" %>
                  <%= f.password_field :password, class: 'form-control' %>
                </div>
            
                <div class="form-group">
                    <%= f.label :password_confirmation, "Confirm Password:" %>
                  <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <%= f.submit "Create Account", class: "btn btn-success btn-wide" %>
                        <%= link_to "Cancel", users_index_path, class: "btn btn-danger btn-wide" %>
                    </div>
                </div>
            <% end %>
        </div>          
      </div>
    </div>
  </div>
</body>
