
<!-- Written by Jennifer Dust -->
<body class="ncc ncc-img">
<div class="navbarAbout navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="col-xs-9 col-md-12">
        <div class="navbar-brand"> <a id="logo" href="/"><img id='logoImg' src="<%=asset_path("NCC_logo.png") %>" class="img-responsive" alt="Odyssey Pick About"></a> </div>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav nav-pills navbar-right custom-navbar">
        <li role="presentation"> <a href="/">Back to Pickup Assistant</a> </li>
      </ul>
    </div>
  </div>
</div>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container padding-top">
  <div class="well">
    <h2 id="aboutTeam" class="text-center">About Project Odyssey</h2>
    <div id="content">
      <p>The Odyssey Pickup Assistant was written in Spring 2016 by the students of the CSC 495 Capstone class at North Central College. A colgrouporative and agile design process was emphasized throughout the project. We relied on various new technologies while building Odyssey including: Ruby on Rails, git Github, Cloud9, Bootstrap, Slack, Herkou, and others. <br/> <br/>

Odyssey is custom software written for Sharing Connections, a Downers Grove-based charity. We wish to thank everyone at Sharing Connections for their support and contribution during this effort.
        </p>
    </div>
    <p><a class="btn ncc-button btn-primary btn-lg" href="http://northcentralcollege.edu/home" target="_blank" role="button">Learn More About NCC &raquo;</a></p>
  </div>
</div>
<div class="container"> 
  <!-- Hexagons -->
  
  <h2   class="text-center" style="color:white" >The Team</h2>
  
  <!-- Row 1 {5} -->
 <section id="group">	
    <article>

        <div class="group_item" data-toggle="modal" data-target="#Row1_Hex1">		
        <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("Bill_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row1_Hex2">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image: url(<%=asset_path("Chase_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
 <div class="group_item" data-toggle="modal" data-target="#Row1_Hex3">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image: url(<%=asset_path("Krieger_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
 <div class="group_item" data-toggle="modal" data-target="#Row1_Hex4">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image: url(<%=asset_path("Mark_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
              <div class="group_item" data-toggle="modal" data-target="#Row2_Hex1">        
        <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image: url(<%=asset_path("Emily_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row2_Hex2">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("Jen_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row2_Hex3">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("NickD_about.png") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row3_Hex1">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("Bilal_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row3_Hex2">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("Gerardo_about.jpg") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row3_Hex3">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("placeholder.png") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row3_Hex4">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("NickO_about.png") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row4_Hex1">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("placeholder.png") %>)";">                
                </div>
             </div>
         </div>
         </div>
          <div class="group_item" data-toggle="modal" data-target="#Row4_Hex2">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("placeholder.png") %>)";">    
                </div>
             </div>
         </div>
         </div>
           <div class="group_item" data-toggle="modal" data-target="#Row4_Hex3">
          <div class="hexagon hexagon2">
            <div class="hexagon-in1">
                <div class="hexagon-in2" style="background-image:  url(<%=asset_path("placeholder.png") %>)";">                
                </div>
             </div>
         </div>
         </div>

         
          
	</article>
</section>

<!-- End Hexagons --> 

<!-- Modal --> 

<!-- ROW 1 -->
<div>
<div class="modal fade" id="Row1_Hex1">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Bill Moers</h2>
        <h4 class="modal-title" style="color: #0088CB"> Accounts Developer </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> CSC495 Spring 2016, making app development look easy. </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Bill Moers"  src="<%=asset_path("Bill_Hex.png") %>"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row1_Hex2">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Chase Smith</h2>
        <h4 class="modal-title" style="color: #0088CB"> Security Developer </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> Authenticating and authorizing both code and user login. </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Chase Smith"  src="<%=asset_path("Chase_Hex.png") %>"> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row1_Hex3">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Professor Krieger</h2>
        <h4 class="modal-title" style="color: #0088CB"> Project Manager </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8">CSC495 Spring 2016. An outstanding class. Huzzah! thanks... yow, bill </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Professor Krieger" src="<%=asset_path("Krieger_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row1_Hex4">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Mark Prucha</h2>
        <h4 class="modal-title" style="color: #0088CB"> Database Developer </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> Worked on the architecture team to develop the data model. Also worked to make the home page and pickup forms functional.</div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Mark Prucha" src="<%=asset_path("placeholder_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ROW 2 -->

<div class="modal fade" id="Row2_Hex1">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Emily Huizenga</h2>
        <h4 class="modal-title" style="color: #0088CB"> Front End Developer </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> Helped make the pickup assistant look pretty.</div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Emily Huizenga" src="<%=asset_path("Emily_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row2_Hex2">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Jennifer Dust</h2>
        <h4 class="modal-title" style="color: #0088CB"> Assistant Project manager </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> TEXT </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Jennifer Dust" src="<%=asset_path("Jen_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row2_Hex3">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Nicholas Drazenovic</h2>
        <h4 class="modal-title" style="color: #0088CB"> Front End Developer </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> As a member of the UX/Bootstrap team, I helped in developing the front-end of the application. This included layout, design, and front-end functionalities of Odyssey. </div>
            <div class="col-sm-3"> <img class="img-responsive" alt=" Nicholas Drazenovic" src="<%=asset_path("NickD_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ROW 3 -->

<div class="modal fade" id="Row3_Hex1">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Bilal Adra</h2>
        <h4 class="modal-title" style="color: #0088CB"> Database Development </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> I'm Bilal Adra, a Computer Science Major at North Central College. I will earn my degree in June of 2016 and will begin pursuing my law degree at University of Illinois Urbana-Champaign in August of 2016 . For this project I was a part of the Architecture team, which worked on the Data Model and routing for the entire project. I also worked on the team that built the pages which handle the management of pickup days. I enjoyed learning about both rails and ruby to help create the final product and found them both to be intuitive and fast web development tools. </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Bill Moers" src="<%=asset_path("Bilal_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row3_Hex2">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Gerardo Paleo </h2>
        <h4 class="modal-title" style="color: #0088CB"> Developer </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> Class of 2017. Aspiring software developer. Reports cell. </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Bill Moers" src="<%=asset_path("Gerardo_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Row3_Hex3">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Charlie Miller</h2>
        <h4 class="modal-title" style="color: #0088CB"> TITLE </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> TEXT</div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Charlie Miller" src="<%=asset_path("placeholder_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row3_Hex4">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Nick Olmstead</h2>
        <h4 class="modal-title" style="color: #0088CB"> Developer </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> "A great attitude is not the result of success; success is the result of a great attitude." Contributions: Scrum master, GitHub co-owner, developed working code base, partner programmed Schedule pages, contributed to the Help pages, Ruby subject matter expert. </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Nick Olmstead" src="<%=asset_path("NickO_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ROW 2 -->

<div class="modal fade" id="Row4_Hex1">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Eric Zuidema</h2>
        <h4 class="modal-title" style="color: #0088CB"> TITLE </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> TEXT </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Eric Zuidema" src="<%=asset_path("placeholder_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row4_Hex2">
  <div class="modal-dialog modal-lg" style="vertical-align: middle;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">About Rachel Rayas</h2>
        <h4 class="modal-title" style="color: #0088CB"> TITLE </h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="aboutText col-sm-8"> TEXT </div>
            <div class="col-sm-3"> <img class="img-responsive" alt="Rachel Rayas" src="<%=asset_path("placeholder_Hex.png") %>">> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Row4_Hex3">
<div class="modal-dialog modal-lg" style="vertical-align: middle;">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2 class="modal-title">About Kyle Loveless</h2>
      <h4 class="modal-title" style="color: #0088CB">TITLE </h4>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <div class="row">
          <div class="aboutText col-sm-8"> TEXT </div>
          <div class="col-sm-3"> <img class="img-responsive" alt="Kyle Loveless" src="<%=asset_path("placeholder_Hex.png") %>">> </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</body>
</html>
