<% provide(:title, "Schedule") %>
<%= render 'layouts/navbar' %>

<script>
    $(function() {
        showFutureDays();
    });

    function showFutureDays() {
        $('.past-date').hide();
        $('.future-date').show();
    }
    
    function showPastDays() {
        $('.future-date').hide();
        $('.past-date').show();
    }
</script>

<div class='container white-container'>

    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <%= render 'layouts/flash_messages' %>
            <h2>Schedule</h2>
            <p>Click the 'Add New Day' button to create a new day or select a day from the list below to view or delete it.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-5 col-xs-offset-1">
            <a href="/days/new">
                <btn class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;&nbsp;Add New Pickup Day</btn>
            </a>
        </div>
        <div class="row vertical-align">
            <div class="col-sm-5 col-xs-10 col-xs-offset-1 col-sm-offset-0 text-right">
                <strong>View:</strong>
                <select id="view-option">
                    <option value="0">Days in the future</option>
                    <option value="1">In the past 30 days</option>
                </select>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Scheduled Date</th>
                        <th><span class="hidden-xs">Number of Pickups</span><span class="hidden-sm hidden-md hidden-lg"># Pickups</span></th>
                        <th class="hidden-xs">Cities</th>
                    </tr>
                </thead>
                <tbody>
                    <% showed_past = false %>
                    <% showed_this_week = false %>
                    <% showed_next_week = false %>
                    <% showed_after_next_week = false %>
                    <% group_qualifier = nil %>
                    <% future_days_count = 0 %>
                    <% past_days_count = 0 %>
                    
                    <% @days.each_with_index  do |day, index| %>
                        
                        <% if is_in_past(day.date) && (showed_past == false) %>
                            <% group_qualifier = "Past 30 Days" %>
                            <% showed_past = true %>
                        <% elsif is_in_this_week(day.date) && (day.date >= Date.today) && (showed_this_week == false) %>
                            <% group_qualifier = "This Week" %>
                            <% showed_this_week = true %>
                        <% elsif is_in_next_week(day.date) && (showed_next_week == false) %>
                            <% group_qualifier = "Next Week" %>
                            <% showed_next_week = true %>
                        <% elsif is_after_next_week(day.date) && (showed_after_next_week == false) %>
                            <% group_qualifier = "Future" %>
                            <% showed_after_next_week = true %>
                        <% end %>
                        
                        
                        <tr <% if (is_in_past(day.date)) %>
                                <%= 'class=past-date' %> 
                                <% past_days_count += 1 %>
                            <% else %>
                                <%= 'class=future-date' %>
                                <% future_days_count += 1 %>
                            <%end %>
                            style="cursor:pointer; <%= if group_qualifier then 'border-top:2px solid black' end %>" data-link="<%= days_path %>/<%= day.id %>">
                            
                            <td class="text-right">
                                <strong><%= group_qualifier %></strong>
                            </td>
                            <td>
                                <% # format the date as Day, Month dd, yyyy %>
                                <%= day.date.strftime('%A, %B %d, %Y') %>
                            </td>
                            <td>
                                <%= day.pickups.count %>
                            </td>
                            <td class="hidden-xs">
                                <% # For each day, go trhough all pickups. If there are pickups, %>
                                <% #     loop through and print all the cities for that pickups. %>
                                <% if day.pickups.any? %>
                                    <% day.pickups.each do |p| %>
                                        <%= p.donor_city %>
                                        <% if p != day.pickups.last %>
                                            <% # put a comma inbetween the cities if its not the last pickup %>
                                            <%= ',' %>
                                        <% end %>
                                    <% end %>
                                <% else %>
                                    <% # only show this if no pickups for the given day %>
                                    <small>No scheduled pickups</small>
                                <% end %>
                            </td>
                        </tr>
                        <% group_qualifier = nil %>
                    <% end %>
                    <% if future_days_count == 0 %>
                        <tr class="future-date"><td></td> <td colspan="3">There are no pickup days currently configured. You can <a href="/days/new">add some</a> by clicking the 'Add New Pickup Day' button.</td></tr>
                    <% end %>
                    <% if past_days_count == 0 %>
                        <tr class="past-date"><td></td> <td colspan="3"><blockquote><p>"<em>When your past calls, don't answer. It has nothing new to say.</em>"<p><small>GP</small></p></p></blockquote></td></tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('#view-option').on('change', function() {
      if(this.value == 0){
          showFutureDays();
      }
      else if(this.value == 1){
          showPastDays()
      }
    });
</script>
