<%= render 'layouts/navbar' %>

<script>
    $(document).ready(function() {
        // CALENDAR CONFIGURATION
        $('#calendar').fullCalendar({
            weekends: false,
            defaultView: 'month',
            dayClick: function(date, jsEvent, view){
                dayClicked(date, jsEvent, view);
            },
                header: {
                left:   'title',
                center: '',
                right:  'today prev,next'
            }
        })
        GetAllDays();
    });
    
    function dayClicked(date, jsEvent, view) {
        // Remove the old selected day by getting the original event source
        $('#calendar').fullCalendar( 'refetchEvents' );
        // Add a temp event
        $('#calendar').fullCalendar( 'renderEvent', {id:'TEMP', title:'newDay', start: date, rendering:'background', allDay:true, color:'blue'});
        
        // Parse the date string because the JS doesn't interprit our date correctly
        // reference: http://stackoverflow.com/questions/2488313/javascripts-getdate-returns-wrong-date
        var input = date.format()
        var parts = input.match(/(\d+)/g);
        
        // Create a date object to manipulate
        var dObj = new Date(parts[0], parts[1]-1, parts[2]);
        
        var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        // Update our select drop-downs
        $('#month').val(monthNames[dObj.getMonth()]);
        $('#day').val(dObj.getDate());
        $('#year').val(dObj.getFullYear());
        
        // Trigger the on change to adjust our selects
        $( "#month" ).trigger( "change" );
    }
    
    // AJAX GET function to retrieve all the days when loading the calendar
    function GetAllDays() {
        var events = [];
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/days/all",
            success: function(data) {
                $.each(data, function(key, value){
                    // push the day into our array
                    if(Date.parse(value.date)-Date.parse(new Date()) < 0){
                        events.push({title:key, start:value.date, rendering:'background', allDay:true, color:'gray'});
                    }
                    else {
                        events.push({title:key, start:value.date, rendering:'background', allDay:true, color:'green'});
                    }
                })
                // add our built array as a data source to the calendar
                $('#calendar').fullCalendar( 'addEventSource', events );
                $('.loading').fadeOut();
            },
            error: function(data) {
                // Uh oh
                alert(data.responseText);
            }
        });
    }
</script>

<div class="loading"></div>

<div class="container white-container">
    <div class="row">
        <%= render 'layouts/flash_messages' %>
        <div class="col-xs-10 col-xs-offset-1">
            <h2>Add Pickup Day</h2>
            <p class="hidden-xs">Select the date from the calendar below to add a pickup day.</p>
            <p class="visible-xs-block">Select the date from the fields below to add a pickup day.</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-5 col-md-offset-1 hidden-xs">
                <div id='calendar' style='width:100%; height:100%; padding-bottom:10%;'></div>
        </div>
        <div class="col-md-4 col-md-offset-1 col-xs-12">
            <div class="row">
                <br />
                <div class="col-xs-12">
                    <%= form_tag(days_create_path, :method=>'post') do %>
                        <div class="form-group">
                            Month:
                            <%= select_tag("month", options_for_select(@month_options, Date::MONTHNAMES[Date.today.month]), :class => 'form-control') %>
                        </div>
                        <div class="form-group">
                            Day:
                            <%= select_tag("day", options_for_select(@day_options, 1), :class => 'form-control') %>
                        </div>
                        <div class="form-group">
                            Year:
                            <%= select_tag("year", options_for_select(@year_options, Time.new.year), :class => 'form-control') %>
                        </div>
                        <br>
                        <div class="row form-group">
                            <div class="col-xs-12">
                                <center>
                                    <%= submit_tag "Create", class: "btn btn-success btn-wide" %>
                                    <%= link_to "Cancel", days_path, :class => 'btn btn-danger btn-wide' %>
                                </center>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    // Change the number of days we show based on the month and year selected
    $("#month, #year, #day").change(function(target) {
        // Create date object to manipulate (using whats currently in select boxes)
        var dateObj = new Date( $("#month").val() + " 1," + $("#year").val())
        
        // format the date and send the callendar to that date
        var formattedDate = dateObj.getFullYear() + "-" + (dateObj.getMonth() + 1) + "-" + dateObj.getDate();
        $("#calendar").fullCalendar( 'gotoDate', formattedDate)
        
        var numDaysInMonth = new Date(dateObj.getFullYear(), dateObj.getMonth() + 1, 0).getDate()
        // Loop through days in the select to show the correct days based on the year+month
        $('#day > option').each(function(){
            // If the day is in this month show it
            if (Number(this.value) <= numDaysInMonth) {
                $(this).show();
            } else { //else hide it
                $(this).hide();
            }
        })
        
        if(target.originalEvent)
        {
            dayClicked($("#month").val() + " " + $("#day").val() + "," + $("#year").val(), null, null);
        }
    });
    $(document).ready(function() {
        $('.fc-today-button, .fc-button-group > button').each(function(i, obj) {
            $(this).removeClass('fc-button fc-state-default fc-corner-left fc-corner-right').addClass('btn btn-primary');
        });
    });
</script>
