<%= render 'layouts/navbar' %>

<div class='container white-container'>
    <div class="row">
        <%= render 'layouts/flash_messages' %>
        <div class="col-xs-10 col-xs-offset-1">
            <h2>Pickups for <span style="color: #22ADC9"><%= @day.date.strftime("%A, %B %d, %Y") %></span></h2>
            <p>Select a pickup from the list below to edit it.</p>
        </div>
    </div>
    <% # if there are no pickups for this day, let them delete the day? %>
    <% if @pickups.empty? %>
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1">
                <btn data-href="/days/<%= @day.id %>/destroy" data-toggle="modal" data-target="#confirm-delete" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete This Pickup Day</btn>
            </div>
        </div>
    <% end %>
    <div class="row">
        <div class="col-xs-11 col-xs-offset-1">
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="hidden-xs">Town</th>
                        <th>Item Quantity</th>
                        <th class="hidden-xs">Item Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @pickups.any? %>
                        <% @pickups.each do |pickup| %>
                            <tr style="cursor:pointer;" data-link="/pickups/<%= pickup.id %>">
                                <td>
                                    <%= pickup.donor_first_name + " " + pickup.donor_last_name %>
                                </td>
                                <td class="hidden-xs">
                                    <%= pickup.donor_city %>
                                </td>
                                <td>
                                    <%= pickup.number_of_items %>
                                </td>
                                <td class="hidden-xs">
                                    <%= pickup.item_notes %>
                                </td>
                            </tr>
                        <% end %>
                    <% else %>
                        <tr>
                            <td colspan="4">There are no pickups scheduled for this day. View the <a href="/pickups">Bullpen</a> to schedule some.</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% if @pickups.empty? %>
    <!-- Confirm Delete Modal -->
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    Remove <%= @day.date.strftime("%A, %B %d, %Y") %>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove <%= @day.date.strftime("%A, %B %d, %Y") %> as a pickups day? This action cannot be undone.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok">Delete</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });
    </script>
<% end %>