<%= render 'layouts/navbar' %>

<div class='container white-container'>
    <div class="row">
        <%= render 'layouts/flash_messages' %>
        <div class="col-xs-10 col-xs-offset-1">
            <h2>Pickups for <span style="color: #22ADC9"><span class="hidden-xs"><%= @day.date.strftime("%A, %B %d, %Y") %></span><span class="hidden-sm hidden-md hidden-lg"><%= @day.date.strftime("%m/%d/%Y") %></span></span></h2>
            <p>Select a pickup from the list below to edit it.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <table class="table table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>City</th>
                        <th>Item Quantity</th>
                        <th class="hidden-xs">Item Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @pickups.any? %>
                        <% @pickups.each do |pickup| %>
                            <tr style="cursor:pointer;" data-link="/pickups/<%= pickup.id %>/edit">
                                <td>
                                    <%= pickup.donor_first_name + " " + pickup.donor_last_name %>
                                </td>
                                <td>
                                    <%= pickup.donor_city %>
                                </td>
                                <td>
                                    <%= pickup.number_of_items %>
                                </td>
                                <td class="hidden-xs">
                                    <%= pickup.item_notes %>
                                </td>
                            </tr>
                        <% end %>
                    <% elsif is_in_past(@day.date) %>
                        <tr>
                            <td colspan="4">There were no pickups scheduled for this day.</td>
                        </tr>
                    <% else %>
                        <tr>
                            <td colspan="4">There are no pickups scheduled for this day. View the <a href="/pickups">Home page</a> to schedule some.</td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <% # if there are no pickups for this day, let them delete the day? %>
    <% if @pickups.empty? && !is_in_past(@day.date) %>
        <div id="delete-button" class="row text-right">
            <div class="col-xs-10 col-xs-offset-1">
                <a rel="nofollow" data-method="delete" data-href="/days/<%= @day.id %>" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete This Pickup Day</a>
            </div>
        </div>
    <% end %>
</div>