<%= render 'layouts/navbar' %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
                <div class="row">
                    <div class='col-md-6 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                        <h3>Donor CSV Export</h3>
                        <p>Export data for all donors for a month in CSV format.</p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                        <%= form_tag('/reports/donor.csv', :method => 'get') do %>
                            <div class="form-group">
                                Month:
                                <%= select_month(Date.today, {}, {:class => "extra-right-margin form-control"} ) %>
                            </div>
                            <div class="form-group">
                                Year:
                                <%= select_year(Date.today, {:start_year => Time.now.year, :end_year => 2016},
                                {:class => "form-control"}) %>
                            </div>
                            <br>
                            <div class="form-group">
<<<<<<< HEAD
                                <div class="col-xs-12 text-center">
                              <!--builds submit and cancel buttons.-->
                              <%= submit_tag 'Export', class: 'btn btn-success btn-wide' %>
=======
                              <%= submit_tag 'Export', class: 'btn btn-success btn-wide extra-right-margin' %>
>>>>>>> eff6ff8368010b3c4c5a076a4ffcd9e5afc40437
                              <%= link_to 'Cancel', '/reports', class: 'btn btn-danger btn-wide'%>
                                </div>
                            </div>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>

    </div>
