<% provide(:title, "Donor Report") %>
<%= render 'layouts/navbar' %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                        <h2>Donor CSV Export</h2>
                        <p>Select a month and year to export data for all donors for that month.</p>
                        <p>
                        The donors report is saved as <strong>donors_[MONTH][YEAR].pdf</strong> <br>
                        The rejected pickups report is saved as <strong>rejected_[MONTH][YEAR].csv</strong>
                        </p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                            <div class="form-group">
                                Month:
                                <%= select_month(Date.today, {}, {:class => "extra-right-margin form-control"} ) %>
                            </div>
                            <div class="form-group">
                                Year:
                                <%= select_year(Date.today, {:start_year => Time.now.year, :end_year => 2016},
                                {:class => "form-control"}) %>
                            </div>
                            <br>
                            <div class="form-group">

                            <div class="col-xs-12 text-center">
                              <!--builds submit and cancel buttons.-->
                              <%=button_tag 'Export', type: 'button', id: 'exportButton', class: 'btn btn-success btn-wide'%>
                              <%= link_to 'Cancel', '/reports', class: 'btn btn-danger btn-wide'%>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--In order to have the ability to download multiple files with a single request/click -->
<!--of a button, I attached a javascript function to the export button. -->
<script>
var submitButton = document.getElementById("exportButton");
var selectMonth = document.getElementById("date_month");
var selectYear = document.getElementById("date_year");
var redirect = false;

// Attaches an onClick listener to the export button 
submitButton.addEventListener("click", exportFiles);

function exportFiles()
{
    //Builds urls using the month and year selected 
    url1 = "/reports/donor.csv?datemonth=" +  selectMonth.value + "&dateyear=" + selectYear.value;
    url2 = "/reports/rejected_history?datemonth=" +  selectMonth.value + "&dateyear=" + selectYear.value;
    createiframe(url1);
    redirect = true;
    //Timeout needed to download multiple files in IE
    window.setTimeout(function() {createiframe(url2)}, 500);
}

//Creates a hidden iframe with the given url
function createiframe(url){
    var iframe = document.createElement('iframe');
    iframe.style.display = "none";
    iframe.src = url ;
    document.body.appendChild(iframe);
    
    //Used boolean to make sure the redirect did not happen before both files 
    //have been downloaded. If I redirect at the end of the exportFiles function
    //the redirect occurs  before the second report is downloaded. 
    if(redirect){
        window.location = '/reports';
    }
}
</script>