<%= render 'layouts/navbar' %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                        <h2>Pickup History CSV Export</h2>
                        <p>Export data for previous completed and rejected pickups for a month in CSV format.</p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                            <div class="form-group">
                                Month:
                                <%= select_month(Date.today, {}, {:class => "extra-right-margin form-control"} ) %>
                            </div>
                            <div class="form-group">
                                Year:
                                <%= select_year(Date.today, {:start_year => Time.now.year, :end_year => 2016},
                                {:class => "form-control"}) %>
                            </div>
                             <br>
                            <div class="form-group">
                                
                                
                               <!--Export and cancel buttons-->
                                <div class="col-xs-12 text-center">
                              <%=button_tag 'Export', type: 'button', id: 'exportButton', class: 'btn btn-success btn-wide'%>
                              <%= link_to 'Cancel', '/reports', class: 'btn btn-danger btn-wide'%>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
var submitButton = document.getElementById("exportButton");
var selectMonth = document.getElementById("date_month");
var selectYear = document.getElementById("date_year");

submitButton.addEventListener("click", exportFiles);
function exportFiles()
{
    // var iframe1 = document.createElement('iframe');

    // url = "/reports/pickup_history?datemonth=" +  selectMonth.value + "&dateyear=" + selectYear.value;
    // iframe1.style.display = "none";
    // iframe1.src = url ;
    // document.body.appendChild(iframe1);

    // var iframe2 = document.createElement('iframe');

    // url = "/reports/rejected_history?datemonth=" +  selectMonth.value + "&dateyear=" + selectYear.value;
    // iframe2.style.display = "none";
    // iframe2.src = url ;
    // document.body.appendChild(iframe2);
    
    url1 = "/reports/pickup_history?datemonth=" +  selectMonth.value + "&dateyear=" + selectYear.value;
    url2 = "/reports/rejected_history?datemonth=" +  selectMonth.value + "&dateyear=" + selectYear.value;
    createiframe(url1);
    window.setTimeout(function() {createiframe(url2)}, 500);
}

function createiframe(url){
    var iframe1 = document.createElement('iframe');
    iframe1.style.display = "none";
    iframe1.src = url ;
    document.body.appendChild(iframe1);
}
</script>
