<% provide(:title, "Search") %>
<%= render 'layouts/navbar' %>

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                        <div id="flash"></div>
                        <h2>Search</h2>
                        <p>Enter a last name and a city to search for a donor.</p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                         <%= form_tag('/reports/search', :method => 'get') do %>
                            <div class="form-group">
                                Last Name:
                                <br>
                                <%= text_field_tag :search_name %>
                                <br>
                                City: 
                                <br>
                                <%= text_field_tag :search_city %>
                            </div>
                            
                            <br>
                            <div class="form-group">

                                <div class="col-xs-12 text-center">
                                  <!--builds submit and cancel buttons.-->
                                  <%= submit_tag 'Search', name: "searchButton", class: 'btn btn-success btn-wide'%>
                                  <%= link_to 'Cancel', '/reports', class: 'btn btn-danger btn-wide'%>
                                </div>
                                <% end %>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    