<% provide(:title, "Truck Report") %>
<%= render 'layouts/navbar' %>

   <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 well extra-spacing">
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                        <h2>Truck Reports</h2>
                        <p>Select a pickup date below to export the daily truck report and MapQuest route information.</p>
                        <p>
                        The truck report is saved as <strong>truck_[DATE].pdf</strong> <br>
                        The mapquest report is saved as <strong>mapquest_[DATE].csv</strong>
                        </p>
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class='col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
                            <div class="form-group">
                                Pickup Day:
                                <!--Checks to see if there are scheduled pickups and populates options accordingly-->
                                <%if @days.empty?%>
                                    <%= select_tag 'pickupday' , "<option>No scheduled pickups</option>".html_safe, 
                                    class: "form-control" %>
                                <%else%>
                                    <%= select_tag 'pickupday', options_for_select(@days.collect{|d| 
                                                    [d.date.strftime("%A %b %-d, %Y"), d.date]}),
                                                    class: "form-control" %> 
                                <%end%>
                            </div>
                            <br>
                            <div class="form-group">
                              <!--Export and cancel buttons-->
                                <div class="col-xs-12 text-center">
                                <%=button_tag 'Export', type: 'button', id: 'exportButton', class: 'btn btn-success btn-wide'%>
                                <%= link_to 'Cancel', '/reports', class: 'btn btn-danger btn-wide'%>  
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<!--In order to have the ability to download multiple files with a single request/click -->
<!--of a button, I attached a javascript function to the export button. -->
<script>
var submitButton = document.getElementById("exportButton");
var select = document.getElementById("pickupday");
var redirect = false;

if (select.value == "No scheduled pickups"){
    // Disables export button if there are not scheduled pickups
    submitButton.disabled = true;
}else{
    // Attaches an onClick listener to the export button 
    submitButton.addEventListener("click", exportFiles); 
}

function exportFiles()
{
    //Builds urls using the date selected 
    url1 = "/reports/truck.pdf?pickupday=" + select.value;
    url2 = "/reports/truck.csv?pickupday=" + select.value;
    createiframe(url1);
    redirect = false;
    //Timeout needed to download multiple files in IE
    setTimeout(function() {createiframe(url2)}, 500);
}

// Creates a hidden iframe with the given url
function createiframe(url){
    var iframe = document.createElement('iframe');
    iframe.style.display = "none";
    iframe.src = url;
    document.body.appendChild(iframe);
    
    //Used boolean to make sure the redirect did not happen before both files 
    //have been downloaded. If I redirect at the end of the exportFiles function
    //the redirect occurs  before the second report is downloaded. 
    setTimeout(function() {if(redirect){
        window.location = '/reports';}}, 1000);
}
</script>
